.main {
    max-width: 600px;
    margin-top: 3em;
    margin-bottom: 3em;
}

p {
    font-family: 'Inconsolata', monospace !important;
    font-size: 16px;
    margin-top: 2em;
    margin-bottom: 2em;
}
